  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="footer-padding"></div>
  <div class="footer">
  <br>
  <br>
    <p>DigitalCrafts 2020</p>
  </div>
</div>
</body>
</html>