<html>

<head></head>


<body>

<h1>kendra</h1>


    <div class="add-comment">
<b>Add Comment</b>


<form action="/comments" method="POST">
    <input type="hidden" name="comments" value="{{id}}" />
  <input type="hidden" name="button"/>
<button type="submit" class="button">Submit</button>  

<div class="form-group">
    <input type="text" class="form-control" name="title" 
    placeHolder="Enter title">
</div>
<div class="form-group">
<textarea type="text" name="description" class="form-control"
placeHolder="description"></textarea>
</div>
{{! <input type="hidden" name="button"/>
<button type="submit" class="button">Submit</button> }}
</form>   


</body>

<html>