{{> header}}

<div class="jumbotron">
  <h1 class="display-4">Hello, Houstonians!</h1>
  <p class="lead">We made this app to rate your neighborhood!</p>
  <h3>Please choose a neighborhood you would like to rate</h3>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      North
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Woodlands</a>
    <a class="dropdown-item" href="#">Spring</a>
    <a class="dropdown-item" href="#">Klein</a>
</div>
<div class="btn-group" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      West
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Katy</a>
    <a class="dropdown-item" href="#">Cypress</a>
    <a class="dropdown-item" href="#">Steves House</a>
</div>
<div class="btn-group" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      East
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Katy</a>
    <a class="dropdown-item" href="#">Cypress</a>
    <a class="dropdown-item" href="#">Steves House</a>
</div>
<div class="btn-group" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      South
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Katy</a>
    <a class="dropdown-item" href="#">Cypress</a>
    <a class="dropdown-item" href="#">Steves House</a>
</div>
</div>
</div>
</div>
</div>
</div>
<hr class="my-4">
  <p>The current top neighborhood is: <h1>Djangos Neighborhood!</h1></p>
  <ul>
    <li>Schools: 🛵💨 🛵💨 🛵💨
    </li>
    <li>Sidewalks: 🛵💨🛵💨
    </li>
    <li>People: 🛵💨🛵💨🛵💨🛵💨🛵💨
    </li>   
</ul>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Not Steves</a>
  </p>
</div>

</div>
</div>
</div>
</div>


{{> footer}}