{{>header}}
  <form method="POST" action="/add-rating">
  <select name="places" placeholder="Pick One">
  {{#areaArray}}
  <option value={{id}}>{{name}}</option>
  {{/areaArray}}
  </select>
    <input
      type="text"
      name="parksRating"
      placeholder="Parks Rating"
    />
    <input
      type="text"
      name="homesRating"
      placeholder="Homes Rating"
    />
    <input
      type="text"
      name="schoolsRating"
      placeholder="Schools Rating"
    />
    <input
      type="text"
      name="entertainmentRating"
      placeholder="Entertainment Rating"
    />
     <button id="enterButton" type="submit">Rate It!</button>
    </form>
{{> footer}}
