
{{>header}}
    {{> menu}}
    <h1>Login/ !Registration! table placed here</h1>


    <form method="POST" action="/login">
        <input type="text" placeHolder="Username" name="userName"/>
        <input type="Password" placeHolder="Password" name="password"/>
        <button>Login</button>
    </form>

{{>footer}}