{{> header}}
  


<h1>Register</h1>


<body>

UPDATED WITH PASSWORD.

<form method="POST" action="/register">
    <input type='text' placeHolder="username" name="userName"/>
     <input type='password' placeHolder="password" name="password"/>
    <input type='hidden' name="button"/>
    <button>Submit</button>
</form>






{{> footer}}