.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 15px;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
padding-bottom: 60px;
}

.footer {
position: fixed;
text-align: center;
bottom: 0;
width: 100%;
height: 60px;
background-color: #9368B7;
}

.footer p {
margin-top: 25px;
font-size: 12px;
color: #fff;
}

body {
  background-image: url(https://www.arcgis.com/sharing/rest/content/items/20df212453c7449a98e5de3596b9ff97/resources/1568911873244.jpeg?w=2626);
  background-size: cover;
}
